# Error 400 - Bad Request
ErrorDocument 404 /error404.html

# Error 500 - Internal Server Error
ErrorDocument 500 /error500.html

RewriteEngine On
# Riscrittura URL per Home
RewriteRule ^home/?$ index.html [L]

# Riscrittura URL per Attestazione SOA
RewriteRule ^attestazione-soa/?$ soa.html [L]

# Riscrittura URL per Sistemi di Gestione
RewriteRule ^sistemi-di-gestione/?$ gestione.html [L]

# Riscrittura URL per Gare d'Appalto
RewriteRule ^gare-appalto/?$ appalto.html [L]

# Riscrittura URL per Avvalimenti
RewriteRule ^avvalimenti/?$ avvalimenti.html [L]

# Riscrittura URL per D.LGS 231/2001
RewriteRule ^dlgs-231-2001/?$ dlgs.html [L]

# Riscrittura URL per ECO VADIS
RewriteRule ^valutazione-eco-vadis/?$ ecovadis.html [L]

# Riscrittura URL per Registrazione EMAS
RewriteRule ^registrazione-emas/?$ emas.html [L]

# Riscrittura URL per Formazione
RewriteRule ^formazione/?$ formazione.html [L]

# Riscrittura URL per Medicina del Lavoro
RewriteRule ^medicina-del-lavoro/?$ medicina.html [L]

# Riscrittura URL per Responsabilità Sociale
RewriteRule ^responsabilita-sociale/?$ responsabilitasociale.html [L]

# Riscrittura URL per Sicurezza sul Lavoro 
RewriteRule ^sicurezza-sul-lavoro/?$ sicurezzalavoro.html [L]

# Riscrittura URL per Cookie Policy
RewriteRule ^cookie-page/?$ cookie-page.html [L]

# Riscrittura URL per Privacy Policy
RewriteRule ^privacy-policy/?$ privacy-policy.html [L]

# Riscrittura URL per Termini & Condizioni
RewriteRule ^termini-condizioni/?$ termini-condizioni.html [L]