.hamburger-menu-container{
    display: flex;
}

h2{
    font-size: 20px;
}

#check{
    display: block;
}

header .container{
    width: 85%;
}

.nav-btn{
    position: fixed;
    height: calc(100vh - 3rem);
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: #ffffffdb;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
}

#check:checked ~ .nav-btn{
    transform: translateX(0);
}

#check:checked ~ .nav-btn .nav-link,
#check:checked ~ .nav-btn .log-sign{
    animation: animation .5s ease forwards var(--i);
}

.nav-links{
    flex: initial;
    width: 100%;
}

.nav-links > ul{
    flex-direction: column;
}

.nav-link{
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
}

.nav-link > a{
    line-height: 1;
    padding: 1.6rem 2rem;
}

.nav-link:hover > a{
    transform: scale(1);
    background-color: #6f6fd6;
}

.dropdown, .dropdown.second{
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #b6b6ff;
    display: none;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    display: block;
}

.nav-link:hover > a > i,
.dropdown-link:hover > a > i{
    transform: rotate(360deg);
}

.dropdown-link > a{
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
}

.dropdown.second .dropdown-link > a{
    padding: 1.2rem 2rem 1.2rem 3rem;
}

.dropdown.second .dropdown.second .dropdown-link > a{
    padding: 1.2rem 2rem 1.2rem 4rem;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: none;
}

.arrow{
    z-index: 1;
    background-color: #ffffff;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: .5s;
}

.nav-link:hover .arrow{
    background-color: #6f6fd6;
}

.dropdown .dropdown .arrow{
    display: none;
}

.dropdown-link:hover > a{
    background-color: #000056;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #000056;
}

.nav-link > a > i{
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
}

.dropdown i{
    font-size: 1rem;
    transition: .7s;
}

.soa{
    display: flex;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

.soa .title{
    font-size: 35px;
}

.about h1{
    font-size: 30px;
}

footer .container-footer{
    height: auto;
    width: 85%;
}

footer .container-footer .document{
    font-size: 12px;
}